.flexcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 5px;
}

input[name="first"],
input[name="second"] {
  display: inline;
  background-color: #ffffff;
  border: 3px solid #333333;
  height: 40px;
  width: 35%;
  margin: 5px 0 0px 0;
  padding: 15px 15px 15px 15px;
  text-align: left;
  align-self: center;
}

#operator {
  display: inline;
  background-color: #999999;
  border: 3px solid #333333;
  height: 40px;
  width: 40px;
  margin: 5px 0 0px 0;
  padding: 10px 0 0 0;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}

#result {
  display: block;
  background-color: #999999;
  border: 3px solid #333333;
  height: 80px;
  width: 90%;
  margin: 10px 0 25px 0;
  padding: 35px 15px 15px 15px;
  text-align: right;
  align-self: center;
}
.logcontainer {
  height: 80px;
  width: 90%;
  margin: 10px 0 25px 0;
  align-self: center;
  background-color: #666666;
  padding: 15px 15px 15px 15px;
  margin: 15px 0 25px 0;
  min-height: 100px;
  text-align: left;
  overflow: scroll;
}
#log {
  color: #ff9900;
  display: block;
}

.btn {
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  margin: 5px;
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  border: none;
  font-size: 1em;
  &--grey {
    background-color: #999999;
  }
  &--orange {
    background-color: #ff9900;
  }
  &--dblsize {
    min-width: 13em;
    border-radius: 25px;
  }
}
